<div class="container">

<div class="col-lg-4"></div>
<div class="col-lg-4">
  <div class="jumbotron" style="margin: 150px 380px;width: 400px">

    <form  >
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
          <input type="password" class="form-control" placeholder="Password">
        </div>
         <div class="checkbox">
           <label for="checkk">
             <input type="checkbox" id="checkk" >
              Recordar datos
           </label>
         </div>
         <button (click)="enviar()" type="button" class="btn btn-primary form-control"> 
           Iniciar Sesion
         </button>
    </form>

  </div>
</div>
<div class="col-lg-4">

  
</div>