<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <span style="font-size: 36px">
        <strong>
          Mostrar Usuario
        </strong>
      </span>
            <button style="float: right;" (click)="_Login.logOut()" type="button" class="btn btn-danger"> <i class="fa fa-sign-out-alt"></i></button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <button style="float: right;margin-left: 5px" (click)="_usuarioService.LimpiarObjeto()" [routerLink]="['/registrar']" type="button" class="btn btn-secondary">Nuevo <i class="fa fa-plus-circle"></i></button>
            <button style="float: right;" [routerLink]="['/tipousuario']" type="button" class="btn btn-secondary">Tipos de usuarios </button>
            <input type="text" (keyup)="buscador(buscar.value)" #buscar placeholder="Buscar por nombre o username" class="form-control col-6">
        </div>
    </div>
    <br>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Username</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Estado</th>
                    <th scope="col-sm-2">Acctiones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of _usuarioService.Usuarios">
                    <td>{{user.nombre}}</td>
                    <td>{{user.nick}}</td>
                    <td></td>
                    <td *ngIf="user.direccion">{{user.direccion}}</td>
                    <td *ngIf="!user.direccion">No disponible</td>
                    <td *ngIf="user.telefono">{{user.telefono}}</td>
                    <td *ngIf="!user.telefono">No disponible</td>
                    <td>
                        <button type="button" [disabled]="user._id == _Login.User._id" (click)="desactivarUsuario(user)" class="btn btn-secondary">
                <i *ngIf="user.estado == 1" class="fa fa-toggle-on"></i>
                <i *ngIf="user.estado == 2" class="fa fa-toggle-off"></i>
              </button>
                    </td>
                    <td>
                        <button [disabled]="user.estado == 2" type="button" style="margin-right:4px" class="btn btn-primary" [routerLink]="['/modificar']" (click)="obtenerUsuario(user)"> <i class="fa fa-edit" ></i></button>
                        <button [disabled]="user._id == _Login.User._id" type="button" (click)="eliminarUsuario(user._id)" class="btn btn-danger"> <i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                <tbody>

        </table>


    </div>
</div>